<%- include('header.ejs') %>
<section class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col s8">
      <div id="posts">
          <h5 style="margin-left: 10px">What's new?</h5>
        <% if (posts) posts.forEach(post => { %>
        <div class="col s12 m8 offset-m2 l11">
          <div class="card-panel grey lighten-5 z-depth-1">
            <span style="float: right"><% if (post.author_id === user.id) { %><a href="/post/<%= post.id %>"><i
                class="material-icons right red-text" style="cursor: pointer;">delete</i></a><% } %></span>
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="<%- post.users.profile_image %>" alt="" class="circle responsive-img">
              </div>
              <div class="col s10">
                <span class="black-text">
                  <%- post.text %>
                </span>
              </div>

            </div>
            <%- post.users.first_name + ' ' + post.users.last_name + ' - ' + moment(post.created_at).format('LLLL') %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="col s4">
      <div style="display: flex;">
        <h5>Friends</h5><a href="/find"><i class="material-icons deep-orange-text" style="font-size: 25px"
            title="Find friends">search</i></a>
      </div>
      <% if (friends.length !== 0) { friends.forEach(friend => { %>
      <div style="display: flex; justify-content: space-between; width: 110px">
        <img src="<%- friend.profile_image %>" width="25" height="25" class="circle responsive-img" />
        <a href="profile/<%= friend.id %>"><span><%- friend.first_name %></span></a><i class="material-icons red-darken-3-text" style="font-size: 25px; cursor: pointer;"
        title="Decline" onclick="deleteFriend(<%= friend.id %>)">close</i>
      </div>
      <% }) } else { %>
        <span>No friends at the moment..</span>
        <% } %>  
      <h5>Friend requests</h5>
      <% if (requests.length !== 0) { requests.forEach(friend => { %>
        <div style="display: flex; justify-content: space-between; width: 150px">
          <img src="<%- friend.profile_image %>" width="25" height="25" class="circle responsive-img" />
          <a href="profile/<%= friend.id %>"><span><%- friend.first_name %></span></a><i class="material-icons deep-green-text" style="font-size: 25px; cursor: pointer;"
          title="Accept" onclick="acceptFriend(<%= friend.id %>)">check</i><i class="material-icons red-darken-3-text" style="font-size: 25px; cursor: pointer;"
          title="Decline" onclick="deleteFriend(<%= friend.id %>)">close</i>
        </div>
        <% }) } else { %>
          <span>No friend requests at the moment..</span>
          <% } %>
    </div>
  </div>
</section>
</body>

</html>